<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-7 col-sm-11 offset-lg-3 pt-5">
      <div class="card">
        <div class="card-header">Logga in</div>
        <div class="card-body">
          <div class="row pb-2">
            <div class="col-md-8 offset-md-4 offset-xs-1">
              <a id="client-login" [href]="config?.clientLoginUrl" class="btn btn-success">Logga in som personl</a>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-md-8 offset-md-4">
              <a id="admin-login" [href]="config?.adminLoginUrl" class="btn btn-success">Logga in som admin</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
